 body{
   background-color: lightgoldenrodyellow;
 }


header{
  background-color: slateblue;
  border-radius: 2px;
  position: fixed;
  width: 100%;
  display: flex;
 align-items: center;
 margin-top: -0.80pc;
 margin-left: -0.50pc;
}


ul {
  align-items: center;
  margin-left: -1pc;
}

ul li {
  list-style: none;
  display: flex;

}

ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}


a{
 text-decoration: none;
 background-color: darkgrey;
 padding: 7px;
 border-radius: 10px;
 font-size: 15px;
}


.doas{
  margin-top: 7pc;
  
 background: burlywood;
 height: 73vh;
 width: 100%;
 border-radius: 20px;
}

p{
  margin-top: 40px;
  padding-top: 2pc;
}

   a:hover {
      background: grey;
     color:slateblue;
     padding:12px;
    }
    
    @media(min-width: 768px) and (max-width: 991.98px ) {
          
          
          header {
            
            display: flex;
            height: 8pc;
            
          
          }
          
          a {
            padding: 10px;
            border-radius: 8px;
            font-size: 25px;
          
          }
          ul {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}


            p{
              font-size:40px;
            }
          
          
        }